In [20]:
from datetime import date, datetime
import openpyxl
import pandas as pd

In [7]:
# read excel file

file = openpyxl.load_workbook(filename='res/test/test_data.xlsx', read_only=True)
print('Liste von Tabellen:', ', '.join(file.sheetnames))

sample_sheet_name = '09201_518a2'
sample_sheet = file[sample_sheet_name]
print(f'Metadaten Tabelle {sample_sheet_name}:')

# extract metadata
metadata = dict()
for row in sample_sheet.iter_rows(min_row=5, max_row=11, min_col=1, max_col=1, values_only=True):
    key, value = row[0].split(':')
    metadata[key.strip()] = value.strip()
print(metadata)

# create pandas dataframe
df = pd.read_excel('res/test/test_data.xlsx', sheet_name = sample_sheet_name, header = list(range(0, 4)), skiprows = 13)
df.columns = [ 'Bestandeseinheit', 'Baumart', 'Baumnummer', *[ f'{ multi_index[1] }_{ multi_index[0].year }' for multi_index in df.columns[3:] ] ]
df = df.drop(columns='Bestandeseinheit')
df

Liste von Tabellen: 09201_518a2
Metadaten Tabelle 09201_518a2:
{'Forstamt': '5622   Mühlhausen', 'Revier': 'Langula', 'Versuch': '09201', 'Parzelle': '01', 'Teilfläche': '518 a2', 'Standort': 'Uff-R2', 'Höhenlage': '426'}

,Baumart,Baumnummer,D_1960,Aus_1960,H_1960,D_1967,Aus_1967,H_1967,D_1976,Aus_1976,...,H_2003,D_2006,Aus_2006,H_2006,D_2010,Aus_2010,H_2010,D_2016,Aus_2016,H_2016
0,Hbu,1,9.5,NaN,NaN,13.1,NaN,NaN,18.2,NaN,...,NaN,20.6,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Es,2,21.6,NaN,NaN,24.3,NaN,NaN,29.5,NaN,...,30.5,47.2,NaN,33.0,48.9,NaN,NaN,50.5,NaN,NaN
2,Bu,3,21.6,NaN,NaN,23.8,7.0,21.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ah,4,30.3,NaN,NaN,32.1,NaN,NaN,32.8,NaN,...,27.0,38.4,NaN,31.0,38.6,NaN,NaN,39.8,NaN,NaN
4,Es,5,34.5,NaN,28.0,36.9,NaN,NaN,40.6,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,Bu,91606,8.0,NaN,NaN,9.9,NaN,NaN,15.5,NaN,...,NaN,33.1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,Bu,91607,7.0,NaN,NaN,7.3,NaN,NaN,10.6,NaN,...,NaN,17.8,NaN,NaN,18.3,NaN,NaN,19.7,NaN,NaN
552,Bu,91608,6.8,NaN,NaN,7.2,NaN,NaN,9.9,NaN,...,NaN,11.9,NaN,NaN,12.2,NaN,NaN,13.2,NaN,NaN
553,Bu,91609,8.8,NaN,NaN,9.6,NaN,NaN,13.3,NaN,...,NaN,16.2,NaN,NaN,16.3,NaN,NaN,17.3,NaN,NaN
554,Bu,91610,8.0,NaN,NaN,8.5,NaN,NaN,13.4,NaN,...,NaN,23.6,NaN,NaN,25.0,NaN,NaN,27.7,NaN,NaN

In [34]:
# read tab-delimited table files

df = pd.read_csv('res/tab-delimited/1460701.txt', sep='\t', skiprows=13, header=list(range(0, 4)), encoding='iso8859_15')
df = df.drop(columns=df.columns[-1])
df.columns = [ 'Bestandeseinheit', 'Baumart', 'Baumnummer', *[ f"{ multi_index[1] }_{ datetime.strptime(multi_index[0], '%d.%m.%Y').year }" for multi_index in df.columns[3:] ] ]
df = df.drop(columns='Bestandeseinheit')
df

,Baumart,Baumnummer,D_1984,Aus_1984,H_1984,D_1995,Aus_1995,H_1995,D_2006,Aus_2006,H_2006,D_2013,Aus_2013,H_2013
0,Dgl,1,"11,0",NaN,NaN,"22,4",NaN,"18,7","39,9",NaN,"27,0","50,2",NaN,"29,1"
1,Dgl,2,"9,5",NaN,NaN,"18,1",NaN,NaN,"33,6",NaN,"22,0","43,8",NaN,"25,6"
2,Ofi,3,"4,5",NaN,NaN,"10,2",NaN,NaN,"10,8",NaN,"7,8","12,0",NaN,NaN
3,Ofi,4,"3,9",NaN,NaN,"13,1",NaN,NaN,"18,8",NaN,"15,1","22,0",NaN,"17,1"
4,Ofi,5,"3,8",NaN,NaN,"5,4",5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Dgl,155,"5,4",NaN,NaN,"6,1",NaN,NaN,"13,4",NaN,NaN,"20,6",NaN,NaN
155,Dgl,156,"20,1",NaN,"13,0","33,0",NaN,"20,7","46,9",NaN,NaN,"52,8",NaN,"31,3"
156,Dgl,157,"13,2",NaN,"10,0","18,2",NaN,"16,8","23,1",NaN,NaN,"28,1",NaN,NaN
157,Dgl,158,"8,5",NaN,NaN,"12,6",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Dgl,159,"16,1",NaN,"12,5","27,4",NaN,NaN,"38,7",NaN,NaN,"50,4",NaN,NaN

In [150]:
with open(f'res/{sample_sheet_name}.csv', 'w') as f:
    df.to_csv(f, index=False, na_rep='NA')